/* Table */
th {
	text-weight: bold;
	font-size: 15px;
	padding: 5px;
	background-color: whitesmoke;
	border: 1px solid gray;
}

td {
	font-size: 14px;
	padding: 5px;
	background-color: white;
	border: 1px solid gray;
}

.cell-center {
	text-align: center;
}

.cell-left {
	text-align: left;
}

.cell-right {
	text-align: right;
}


/* Double-sized Checkboxes */
input[type=checkbox]
{
	-ms-transform: scale(2); /* Internet Explorer */
	-moz-transform: scale(2); /* Firefox */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	margin: 5px;
}


/* Advance Type Colors */
.art      { background-color: rgb(128, 128, 255); }
.civic    { background-color: rgb(255, 128, 128); }
.craft    { background-color: rgb(255, 200, 128); }
.religion { background-color: rgb(255, 255, 128); }
.science  { background-color: rgb(128, 255, 128); }
