html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
}

#header {
	margin: 0px;
	padding: 10px;
	background-color: lightgray;
}
#header p,
#header h2 {
	margin: 0px;
	padding: 0px;
}

#renderZone {
	width: 100%;
	height: 100%;
	display: table-row;
}

canvas {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}